################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/State Switcher/v16
/State Switcher/Debug
/State Switcher/Release
